.def-text {
    font-weight: 50;
    font-size: 20px;
}

.ul-formatted {
    padding-inline-start: 0;
}

.subtitle {
    line-height: 1.1;
    font-weight: 600;
    letter-spacing: -0.007em;
    font-size: 23px;
}

